.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Chart Chart Overview"
    "Chart Chart Details";
}

.Chart { grid-area: Chart; }

.Header { grid-area: Header; }

.Overview { grid-area: Overview; }

.Details { grid-area: Details; }
